@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,iframe { margin: 0; padding: 0; }
ul,ol{list-style:none;}
a{text-decoration:none;}
img,iframe{border:0;vertical-align:middle;}
input,button{vertical-align:middle;outline:none;border:none;}
textarea{outline:none;border:none;resize:none;}
input, textarea {box-sizing: content-box;outline: none;background: 0 0;}
.rt{float:right;}
.lf{float: left;}
a,body{color: #000;}
html,body{height: 100%;}
/*清除浮动*/
.clearfix{*zoom:1;} /* 针对IE7 hack，触发IE7的haslayout，以清除浮动 */
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
table tr td,table{border-collapse:collapse;}
/*解决 a标签点击出现色块*/
a:active{
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -moz-tap-highlight-color:rgba(0, 0, 0, 0);
    -ms-tap-highlight-color:rgba(0, 0, 0, 0);
    -o-tap-highlight-color:rgba(0, 0, 0, 0);
    tap-highlight-color:rgba(0, 0, 0, 0);
}
a{text-decoration:none}







