{% extends './public/layout.html' %}
{% block header %}

{% endblock %}

{% block content %}
  <blockquote class="layui-elem-quote">期刊列表</blockquote>
  <div class="table-body-main">
    <div class="clearfix">
      <div class="layui-btn-group lf">
        <a href="/eper_list?is_show=1&tab=1" class="layui-btn {{index == 1?'true':''}}">已上架</a>
        <a href="/eper_list?is_show=2&tab=2" class="layui-btn {{index == 2?'true':''}}">已下架</a>
        <a href="/eper_list?is_show=0&tab=3" class="layui-btn {{index == 3?'true':''}}">草稿</a>
      </div>
      <div class="layui-btn-group rt">
        <button class="layui-btn manydelete" data-type="getCheckData">批量删除</button>
        <button class="layui-btn" onclick="location.href='/eper_add'"  data-type="getCheckData">新建期刊</button>
      </div>
    </div>
    <table class="layui-table" id="statusTable1" lay-filter="news-list">
      <thead>
        <tr>
          <th lay-data="{checkbox:true}"></th>
          <th lay-data="{field:'id', width:80}">期刊ID</th>
          <th lay-data="{field:'clientname', width:180}">期刊名称</th>
          <th lay-data="{field:'ordertitle', width:180}">期刊简介</th>
          <th lay-data="{field:'orderprice', width:120}">期刊格式</th>
          <th lay-data="{field:'updatetime', width:160}">更新时间</th>
          <th lay-data="{field:'orderstatus', width:120}">期刊状态</th>
          <th lay-data="{field:'operate', width:202}">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for item in list %}
        <tr>
          <td></td>
          <td class="newsId">{{item.eper_id}}</td>
          <td><a href="/eper_detail?eper_id={{item.eper_id}}">{{item.eper_title}}</a></td>
          <td>{{item.eper_desc}}</td>
          <td>{{item.eper_ext}}</td>
          <td>{{item.update_time}}</td>
          <td>{{typeTitle}}</td>
          <td>
            <a href="/eper_edit?eper_id={{item.eper_id}}" class="edit">编辑<input type="hidden" name="" value="{{item.eper_id}}"></a>

            {% if index == 1 %}
              <a href="javascript:;" class="under-news">下架<input type="hidden" name="" value="{{item.eper_id}}"></a>
            {% elseif index == 2 %}
              <a href="javascript:;" class="delete">删除<input type="hidden" name="" value="{{item.eper_id}}"></a>
            {% else %}
              <a href="javascript:;" class="sumit-check">发布<input type="hidden" name="" value="{{item.eper_id}}"></a>
              <a href="javascript:;" class="delete">删除<input type="hidden" name="" value="{{item.eper_id}}"></a>
            {% endif %}

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="demo7"></div>
  </div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
//上架
$( 'body').on('click', '.sumit-check',function(){
  var _this = $(this);
  layer.confirm('确定要架上该期刊吗？', {
    btn: ['是的','取消'] //按钮
  }, function(){
    var eper_id = _this.find('input').val();
    ajaxRequest('/eperState','GET',{'eper_id': eper_id,'is_show':1},callback);
  }, function(){
    return;
  })
})
//下架
$( 'body').on('click', '.under-news',function(){
  var _this = $(this);
  layer.confirm('确定要下架该期刊吗？', {
    btn: ['是的','取消'] //按钮
  }, function(){
    var eper_id = _this.find('input').val();
    ajaxRequest('/eperState','GET',{'eper_id': eper_id,'is_show':2},callback)
  }, function(){
    return;
  })
});
//删除
$( 'body').on('click', '.delete',function(){
  var _this = $(this);
  layer.confirm('确定要删除该期刊吗？', {
    btn: ['是的','取消'] //按钮
  }, function(){
    var eper_id = _this.find('input').val();
    ajaxRequest('/eperDelete','GET',{'eper_id': eper_id},callback)
  }, function(){
    return;
  });
});
var arrId = [];
layui.use('table', function(){
  var table = layui.table;
  table.init('news-list');//初始化表格

  //全选
  table.on('checkbox(news-list)', function(obj){
    if (obj.type == 'all') {
      if (obj.checked) {
        $('.newsId').each(function(){
          arrId.push($(this).html());
        })
      }else{
        arrId.length = 0;
      }
    }else{
      if (obj.checked) {
        arrId.push(obj.data.id);
      }else{
        var _id = obj.data.id;
        for (var i = 0; i < arrId.length; i++) {
          if (_id == arrId[i]) {
            arrId.splice(i, 1);
          };
        }
      }
    }
  });
});

//批量删除
  $( 'body').on('click', '.manydelete',function(){
    if (arrId.length>0) {
      layer.confirm('确定要删除选中期刊吗？', {
        btn: ['是的','取消'] //按钮
      }, function(){
        ajaxRequest('/eperDelete','GET',{'eper_id': JSON.stringify(arrId)},callback);
      }, function(){
        return;
      });
    }
  });
  layui.use(['laypage', 'layer'], function(){
    var laypage = layui.laypage
    ,layer = layui.layer;
    var curoperate = '{{index}}';
    var total_num = {{total_num}};
    var curPage = {{current_page}};
    var url = '';
    //完整功能
    laypage.render({
      elem: 'demo7'
      ,count: total_num
      ,limit:10
      ,curr: curPage
      ,layout: ['count', 'prev', 'page', 'next','skip']
      ,jump: function(obj,first){
        if(!first){
          var current_page = obj.curr;
          var current_page = obj.curr;
          var page_size = obj.limit;
          if (curoperate == 1) {
            url = '/eper_list?page_size='+page_size+'&current_page='+current_page+'&is_show=1&tab='+curoperate;
          }else if(curoperate == 2){
            url = '/eper_list?page_size='+page_size+'&current_page='+current_page+'&is_show=2&tab='+curoperate;
          }else if(curoperate == 3){
            url = '/eper_list?page_size='+page_size+'&current_page='+current_page+'&is_show=0&tab='+curoperate;
          }
          window.location.href = url;
          return;
        }
      }
    });
  });

  function callback(json){
    if (json.code) {
      layer.msg('操作成功');
      window.location.reload();
    }
  }
  function ajaxRequest(url,type,data,callback){
    $.ajax({
        url:url,
        type: type,
        data:data,
        success:callback
    });
  }
</script>
{% endblock %}